In [1]:
import pandas as pd
import numpy as np

In [2]:
File1 = r"E:\projects\Case Study Form\project preparation\cyclist case study track 1\Project data\Open  Folders\trip data\1 year recent data\data\excel filer master\12_2020.xlsx"

In [3]:
B = pd.read_excel(File1)

In [4]:
B.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
B.drop(columns={'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'},axis='columns', inplace=True)

In [6]:
B.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at', 'member_casual'], dtype='object')

In [8]:
B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131573 entries, 0 to 131572
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ride_id        131573 non-null  object
 1   rideable_type  131573 non-null  object
 2   started_at     131573 non-null  datetime64[ns]
 3   ended_at       131573 non-null  datetime64[ns]
 4   member_casual  131573 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 4.5+ MB

In [7]:
# AS Ride_id should be uniqe values, so will delet duplicates.
B.drop_duplicates(subset ="ride_id",
                     keep = 'first', inplace = True)

In [32]:
B.shape

(131131, 8)

In [10]:
# creating a coulmne to calculate Trip duration.
B['Trip_Duration']=B['ended_at']-B['started_at']

In [11]:
B.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,Trip_Duration
0,70B6A9A437D4C30D,classic_bike,2020-12-27 12:44:29,2020-12-27 12:55:06,member,00:10:37
1,158A465D4E74C54A,electric_bike,2020-12-18 17:37:15,2020-12-18 17:44:19,member,00:07:04
2,5262016E0F1F2F9A,electric_bike,2020-12-15 15:04:33,2020-12-15 15:11:28,member,00:06:55
3,BE119628E44F871E,electric_bike,2020-12-15 15:54:18,2020-12-15 16:00:11,member,00:05:53
4,69AF78D57854E110,electric_bike,2020-12-22 12:08:17,2020-12-22 12:10:59,member,00:02:42

In [14]:
B['Trip_Minutes'] =B['Trip_Duration'] / np.timedelta64(1, 'm')

In [15]:
B['Day_of_Week'] =B['started_at'].dt.day_name()

In [19]:
B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131573 entries, 0 to 131572
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ride_id        131573 non-null  object
 1   rideable_type  131573 non-null  object
 2   started_at     131573 non-null  datetime64[ns]
 3   ended_at       131573 non-null  datetime64[ns]
 4   member_casual  131573 non-null  object
 5   Trip_Duration  131573 non-null  timedelta64[ns]
 6   Trip_Minutes   131573 non-null  float64
 7   Day_of_Week    131573 non-null  object
dtypes: datetime64[ns](2), float64(1), object(4), timedelta64[ns](1)
memory usage: 7.0+ MB

In [20]:
B.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,Trip_Duration,Trip_Minutes,Day_of_Week
0,70B6A9A437D4C30D,classic_bike,2020-12-27 12:44:29,2020-12-27 12:55:06,member,00:10:37,10.616667,Sunday
1,158A465D4E74C54A,electric_bike,2020-12-18 17:37:15,2020-12-18 17:44:19,member,00:07:04,7.066667,Friday
2,5262016E0F1F2F9A,electric_bike,2020-12-15 15:04:33,2020-12-15 15:11:28,member,00:06:55,6.916667,Tuesday
3,BE119628E44F871E,electric_bike,2020-12-15 15:54:18,2020-12-15 16:00:11,member,00:05:53,5.883333,Tuesday
4,69AF78D57854E110,electric_bike,2020-12-22 12:08:17,2020-12-22 12:10:59,member,00:02:42,2.700000,Tuesday

In [21]:
# calculating total trip duration in mintes 
B['Trip_Minutes'].sum()

-8710739.316666666

In [22]:
# the negative number is indicative for wrong time claculation , as there should be negative value .

In [24]:
criteria_All_below_Or_Equal_To_Zero = B['Trip_Minutes']<=0

In [27]:
B[criteria_All_below_Or_Equal_To_Zero].shape

(442, 8)

In [28]:
# Remove wrong Data rows as in this case it seems that start_Trip time is bigger than the end trip time 
# whcih is not logic may be entry error or others

In [29]:
B.drop(B[criteria_All_below_Or_Equal_To_Zero].index, inplace = True)

In [30]:
B.shape

(131131, 8)

In [48]:
B['Trip_Minutes'].sum()

2094903.1833333333

In [52]:
B['New2']= B['Trip_Minutes'].round(0)

In [88]:
B.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,Trip_Duration,Trip_Minutes,Day_of_Week,Day,month,year
0,70B6A9A437D4C30D,classic_bike,2020-12-27 12:44:29,2020-12-27 12:55:06,member,00:10:37,11.0,Sunday,27,12,2020
1,158A465D4E74C54A,electric_bike,2020-12-18 17:37:15,2020-12-18 17:44:19,member,00:07:04,7.0,Friday,18,12,2020
2,5262016E0F1F2F9A,electric_bike,2020-12-15 15:04:33,2020-12-15 15:11:28,member,00:06:55,7.0,Tuesday,15,12,2020
3,BE119628E44F871E,electric_bike,2020-12-15 15:54:18,2020-12-15 16:00:11,member,00:05:53,6.0,Tuesday,15,12,2020
4,69AF78D57854E110,electric_bike,2020-12-22 12:08:17,2020-12-22 12:10:59,member,00:02:42,3.0,Tuesday,22,12,2020

In [58]:
B['Trip_Minutes'] = B['Trip_Minutes'].round(0)

In [76]:
B.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,Trip_Duration,Trip_Minutes,Day_of_Week,Day,month,year
0,70B6A9A437D4C30D,classic_bike,2020-12-27 12:44:29,2020-12-27 12:55:06,member,00:10:37,11.0,Sunday,27,12,2020
1,158A465D4E74C54A,electric_bike,2020-12-18 17:37:15,2020-12-18 17:44:19,member,00:07:04,7.0,Friday,18,12,2020
2,5262016E0F1F2F9A,electric_bike,2020-12-15 15:04:33,2020-12-15 15:11:28,member,00:06:55,7.0,Tuesday,15,12,2020
3,BE119628E44F871E,electric_bike,2020-12-15 15:54:18,2020-12-15 16:00:11,member,00:05:53,6.0,Tuesday,15,12,2020
4,69AF78D57854E110,electric_bike,2020-12-22 12:08:17,2020-12-22 12:10:59,member,00:02:42,3.0,Tuesday,22,12,2020

In [65]:
B['Day']=B['started_at'].dt.day

In [66]:
B['month']=B['started_at'].dt.month

In [67]:
B['year']=B['started_at'].dt.year

In [89]:
table12_2020 = pd.pivot_table(B,index=["year" , "month" , "Day_of_Week"],values=["Trip_Minutes"],
               columns=["member_casual" ],aggfunc=[np.mean,len,sum],fill_value=0)

In [90]:
table12_2020

                               mean                     len         \
                       Trip_Minutes            Trip_Minutes
member_casual                casual     member       casual member
year month Day_of_Week
2020 12    Friday         22.546270  12.690056         3458  12399
           Monday         23.163749  12.176606         3542  13901
           Saturday       29.449256  12.944841         4572  11494
           Sunday         41.028147  14.248452         5116  11793
           Thursday       23.930874  12.972126         4716  16754
           Tuesday        21.372485  12.009505         3976  17148
           Wednesday      22.325531  12.616160         4614  17648

                                sum
                       Trip_Minutes
member_casual                casual  member
year month Day_of_Week
2020 12    Friday             77965  157344
           Monday             82046  169267
           Saturday          134642  148788
           Sunday            209900  168032
           Thursday          112858  217335
           Tuesday            84977  205939
           Wednesday         103010  222650

In [ ]:
table12_2020.to_excel(r"E:\1.xlsx")

In [ ]:
def prcess_Cyclist_Case_Study_Raw_ Dat (file,outfile):